<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="HANDSON" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=handson;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />   
  </connectionStrings>
  <appSettings>    
    <add key="ApiKey" value="AIzaSyDuzCAH-cX65tZxBLcXSvh3pKz0UB4bULI"/>
  </appSettings>
</configuration>